:root {
  --whiteClr: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --grayishBlue: hsl(220, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
  --fontSize: 13px;
  --fontFamily: "Outfit", sans-serif;
  --fontWeight400: 400;
  --fontWeight700: 700;
  --border: 1px solid red;
  --borderRaduis: 0.7rem;
}

* {
  margin: 0;
  padding: 0;
}

.heading {
  color: var(--darkBlue);
  font-size: 1.2rem;
  font-weight: var(--fontWeight700);
}

.para {
  color: var(--grayishBlue);
  font-weight: var(--fontWeight400);
}

body {
  font-size: var(--fontSize);
  font-family: var(--fontFamily);
  background-color: var(--lightGray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.qrContainer {
  padding: 1rem;
  background-color: var(--whiteClr);
  border-radius: var(--borderRaduis);
}

.qrContainer__scanner--img {
  width: 15rem;
  border-radius: var(--borderRaduis);
}

.qrContainer__utils {
  width: 14rem;
  padding: 1rem 0.5rem;
  text-align: center;
}

.qrContainer__utils--heading {
  margin: 0.2rem 0 0.9rem;
}

.qrContainer__utils--text {
  padding-top: 0.3rem;
  font-size: var(--fontSize);
}
@media only screen and (max-width: 375px) {
  body {
    padding: 1.5rem;
  }
}
